<!DOCTYPE html>
<html>
<head>
    <title>Sky Flights</title>
</head>
<body>
    <h2>Sky Flights</h2>
    <ul>
      <% @departures.each do |city| %>
        <li><%= city %>
      <% end %>
    </ul>
</body>
</html>
